<center>
  <h3 ng-if="ujcsapat">Új csapat rögzítése</h3>
  <h3 ng-if="!ujcsapat">Csapat adatainak módosítása</h3>
<form name="csapatform">
  <input placeholder="Csapat neve" ng-model="csapat.nev" required>
  <hr>
  <div ng-repeat="jatekos in csapat.jatekosok track by $index">
    <input  type="number"
            placeholder="Mezszám"
            ng-model="jatekos.mezszam"
            style="width:50px;"
            required>
    <input  placeholder="Név"
            ng-model="jatekos.nev"
            ng-lostfocus="uj()"
            required>
  </div>
  <hr>
  <button ng-click="uj()">Új játékos</button>
  <hr>
  <a href="#!/">
  <button ng-if="csapatform.$valid"
          ng-click="kuld()">Mentés</button>
  </a>
</form>
<br><br>
