<div class="w3-center">
  <br>
  <h1>Üdvözlöm a Könyvkuckó házikönyvtár alkalmazásban!</h1>
  <h2>Tanári gép</h2>
  <br>
  <div class="w3-container" ng-repeat="(key,konyv) in konyvek">
    <div class="w3-container w3-orange w3-row klikk w3-round-large"
         ng-click="open=konyv._id">
        <div class="pici"></div>
        <div class="w3-container w3-round-xxlarge w3-row w3-white">
          <div class="w3-cell w3-third d">{{konyv.szerzo}}</div>
          <div class="w3-cell w3-third d">{{konyv.cim}}</div>
          <div class="w3-cell w3-flex d">{{konyv.holvan}}</div>
          <div class="w3-cell w3-right d">
            <a href='#!0'>
              <i class="material-icons" ng-click="edit(key)">&#xe254;</i>
            </a>
          </div>
        </div>
        <div class="w3-container w3-row w3-orange"
             ng-if="open==konyv._id">
             <div class="w3-third d2">&nbsp;{{konyv.mufaj}}</div>
             <div class="w3-third d2">&nbsp;{{konyv.kiado}}</div>
             <div class="w3-flex d2">&nbsp; &nbsp; {{konyv.evszam}}</div>
        </div>
        <div class="pici"></div>
    </div>
  </div>
</div>
<div class="pici"></div>
