.pointer {
    cursor: pointer;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD

>>>>>>> e0a7c5c1fd99543a674a0dcb0c7681115c426aa2
.p150 {
    padding: 0 auto;
    cursor: pointer;
    font-size: 130%;
}
.p150:hover {
    font-size: 160%;
    color:      red;
}
<<<<<<< HEAD
=======
=======
>>>>>>> d36144cd620e5b5c8972cd7d830ffa627719e158
>>>>>>> e0a7c5c1fd99543a674a0dcb0c7681115c426aa2
.szszi {
    width:  100%;
    border: none;
    background: transparent;
}
