.f1 {
    width:  300px;
    margin: 0 auto;
}
div.pici {
    height: 15px;
}
div.xpici {
    height: 7px;
}
.encenterem {
    text-align: center;
    color: #51ebf3;
}
.enh2om {
    font-weight: bold;
    background-color: #906090;
    margin: 0 auto;
    box-shadow: 1px 1px 7px black;
}
.d {
    text-align:left;
}
.d2 {
    text-align:left;
}
.klikk {
    cursor: pointer;
}
.b1 {
    box-shadow: 1px 1px 7px black;
}
.f2 {
    background-color: rgba(200,255,200,0.7);
}
.f2.ng-invalid {
    background-color: rgba(255,200,200,0.7);
}
a {
  text-decoration: none;
}
.kl {
  padding: 4px;
  width: 100%;
}
tr.kl:hover {
  box-shadow: 1px 1px 7px black;
}
td.w3 {
  width: 30%
}
td.w1 {
  width: 10%
}
